/* Navbar */
.Container-Nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  overflow-x: hidden;
}

.Wrapper-Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.Navbar-Left {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: auto;
}

.Navbar-Link {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  padding: 6px 15px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 0.5px rgb(206, 205, 205);
}

.Navbar-Link:hover {
  background-color: rgba(32, 204, 26, 0.1);
}

.Navbar-Link.active {
  color: rgb(0, 255, 68);
  background-color: rgba(6, 170, 50, 0.199);
}

.Navbar-Search {
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
  margin-top: 8px;
  margin-left: 215px;
}

.Navbar-Search:hover {
  transform: scale(1.1);
}

/* Video List */
.Container-VideoList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  overflow-x: hidden;
}

.Video-Row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Container-Video {
  flex: 1;
  min-width: calc((100vw - 100px) / 6);
  max-width: calc((100vw - 100px) / 6);
  height: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.Container-Thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Video-Title-Account {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 5px 10px;
  width: 100%;
}

.Video-Title,
.Video-Account {
  background-color: transparent;
  margin: 0;
  color: white;
  font-size: 12px;
}

.Video-Title {
  font-weight: bold;
}

.Video-Title,
.Video-Account,
.Box-Live-Icon {
  margin: 0;
  padding: 0;
}

.Video-Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.Box-Live-Icon {
  background-color: rgb(224, 54, 54);
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.Video-Info-Viewer {
  background-color: rgba(51, 51, 51, 0.781);
  position: absolute;
  font-size: 11px;
  display: flex;
  padding: 2px 5px;
  border-radius: 2px;
  top: 10px;
  left: 45px;
}

.Video-Eye-Icon {
  color: white;
  background-color: transparent;
}

.Viewer-Count {
  color: white;
  margin-left: 5px;
  background-color: transparent;
}

/* Search */
.search-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.arrow-left-icon {
  color: #8a8e98;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: rgb(82, 88, 103);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  flex: 1;
}

.search-icon {
  color: rgb(182, 180, 180);
  margin: 0 5px;
  background-color: transparent;
  cursor: pointer;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.search-kata-kunci-populer {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 15px;
  width: 100%;
}

.NotFound-DetailProduct {
  display: flex;
  justify-content: center;
  animation: bounce 1s infinite;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  color: rgb(121, 11, 11);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* VideoDetail */
.Container-DetailProduct {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.DetailProduct-VideoContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 338px;
}

.DetailProduct-RelatedProducts {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.RelatedProduct-Detail {
  width: 100%;
  padding: 57px;
  margin-top: 15px;
  background-color: rgb(14, 13, 20);
}

.DetailProduct-perNumber {
  width: 100%;
}

/* Styling untuk kotak produk */
.Product-Link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Product-Box {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
}

.Product-Title {
  font-weight: bold;
  background-color: transparent;
}

.Product-Price {
  color: #007bff;
  background-color: transparent;
}

/* Gaya untuk komentar di bawah video */
.DetailProduct-CommentSection {
  position: absolute;
  margin-top: 13px;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #0c1116;
  height: 91vh;
  width: 46vh;
}

.CommentSection-Detail {
  max-width: 100%;
  word-wrap: break-word;
  background-color: transparent;
}

.Button-CommentSection-Detail {
  color: #f9f9f9;
  border-radius: 5px;
  background-color: #06294e;
}

.Comment-Box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

.Comment-Username {
  font-weight: bold;
}

.CommentInput-Detail {
  margin-top: 20px;
}

.CommentInput-Detail input,
.CommentInput-Detail textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  max-width: 100%;
}

.CommentInput-Detail button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.CommentInput-Detail button:hover {
  background-color: #0056b3;
}

/* Gaya untuk komentar dalam popup */
.CommentPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.CommentPopup-Content {
  background-color: rgba(15, 0, 102, 0.329);
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.CommentPopup-CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(231, 221, 206);
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.CommentPopup-CloseButton:hover {
  background-color: rgb(168, 165, 172);
}

.CommentPopup-Box {
  padding: 2px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.CommentPopup-Username {
  font-weight: bold;
}

.CommentPopup-SubmitComment {
  background-color: #06294e;
  display: flex;
  border-radius: 5px;
}

.CommentPopup-SubmitComment-Input {
  color: rgb(0, 0, 0);
  background-color: white;
}

.CommentPopup-SubmitComment-Textarea {
  color: rgb(0, 0, 0);
  background-color: white;
}

.CommentPopup-SubmitComment-Button {
  color: white;
  background-color: #06294e;
  border-radius: 10px;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1336px) {
  html {
    font-size: 75%;
  }
  .Container-Nav {
    overflow-x: auto;
  }
  .Navbar-Link {
    white-space: nowrap;
  }
  .Navbar-Search {
    margin-left: 280px;
  }
  .DetailProduct-VideoContainer {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 300px;
    margin-left: 320px;
  }
  .DetailProduct-RelatedProducts {
    display: flex;
  }
  .RelatedProduct-Detail {
    height: 21vh;
  }
  .DetailProduct-CommentSection {
    height: 94vh;
    width: 25.6vh;
    margin-top: 13px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .Container-Nav {
    overflow-x: auto;
  }
  .Navbar-Link {
    white-space: nowrap;
  }
  .Navbar-Search {
    font-size: 5px;
  }
  .Container-VideoList {
    justify-content: flex-start; /* Menata dalam satu baris */
  }

  .Video-Row {
    flex-wrap: wrap; /* Pecah menjadi tiga per baris */
  }

  .Container-Video {
    min-width: calc((100% - 60px) / 3); /* Lebar sepertiga saat di tablet */
    max-width: calc((100% - 60px) / 3);
  }
  .DetailProduct-VideoContainer {
    margin-top: 10px;
    margin-left: 50px;
  }
  .DetailProduct-RelatedProducts {
    display: flex;
    top: 410px;
  }
  .RelatedProduct-Detail {
    height: 10vh;
    margin-top: 13px;
  }
  .DetailProduct-CommentSection {
    height: 75vh;
    width: 55.6vh;
    top: 410px;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .Container-Nav {
    overflow-x: auto;
  }
  .Navbar-Link {
    white-space: nowrap;
  }
  .Navbar-Search {
    font-size: 1px;
  }
  .Container-VideoList {
    justify-content: flex-start; /* Menata dalam satu baris */
  }

  .Video-Row {
    flex-wrap: wrap; /* Pecah menjadi dua per baris */
  }

  .Container-Video {
    min-width: calc((100% - 20px) / 2); /* Lebar setengah saat di tablet */
    max-width: calc((100% - 20px) / 2);
  }
  .DetailProduct-VideoContainer {
    margin-top: 10px;
    margin-left: 20px;
  }
  .DetailProduct-IframeEdit {
    height: 250px;
    width: 410px;
  }
  .DetailProduct-RelatedProducts {
    display: flex;
    top: 250px;
  }
  .RelatedProduct-Detail {
    height: 5vh;
    margin-top: 13px;
  }
  .DetailProduct-CommentSection {
    height: 75.6vh;
    width: 15.6vh;
    top: 250px;
  }
}
